 Normalize EOL for all files that Git considers text files.
* text=auto eol=lf
*.gd eol=lf
*.tscn eol=lf
*.cfg eol=lf
*.godot eol=lf
*.tres eol=lf
*.import eol=lf
*.gdshader eol=lf

# Ignore some files when exporting to a ZIP.
/.gitattributes     							export-ignore
/.gitignore         							export-ignore
/LICENSE            							export-ignore
/README.md          							export-ignore
/*.tres     											export-ignore
/icon*     												export-ignore
/project.godot										export-ignore
/screenshots        							export-ignore
/art-sources        							export-ignore
/example_mints      							export-ignore
/addons/editor_icon_previewer     export-ignore
