 Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# Only include the chief_mint addons folder when downloading from the Asset Library.
/**        								export-ignore
/addons    								!export-ignore
/addons/chief_mint 				!export-ignore
/addons/chief_mint/**/* 	!export-ignore

# Exclude .github folder from exports (CI/CD configuration should not be in exported assets)
/.github								export-ignore
